## Don't Save Secrets That pertain to Secure details
.secrets.yml
vault.yml
## Don't Save Log Files
*.log
support-bundle.zip
.claude
# Don't Include Vagrant support files
.vagrant
id_rsa
Hosts.yml
results.yml
templates/auto-SHI-Hosts.yml
DeployKey_rsa
*.vdi
vault-Docova.yml

*.IDS
*.ID
*.id
*.ids
SAFE.IDS

# Build Files to Ignore
.DS_Store
*.swp
.classpath
.project
.vscode/
.settings/
.gradle/
build/
test_files/

